*{margin: 0px;
 padding: 0px;
box-sizing: border-box;
margin: auto;}

h2{font:bold 24px verdana, sans-serif;}
h3{font:bold 20px verdana, sans-serif;}

header, section, footer, aside, nav,article,figure,figcaption,hgroup{display: block;} 	

body{text-align:center;
	/*background: url('../imagenes/7.jpeg');*/
	/*background-size: 100%*/
	/*background-repeat: inherit;*/
	background:#fff;
	width: 100%;
	margin: auto;
	background-size: cover;
	perspective: 1px;	
	font:  16px arial,helvetica,sans-serif;
}
@font-face {
	font-family: 'jacks';
	src: url('../tipografias/jacks.ttf');
	}

#agrupar{
	width:100%;
	margin: 0px;
	text-align: left;
	background:#FFFFFF;
	color: black;
	
}

#cabecera{
	
	/*background: rgba( 62, 205, 20 ,0.7);*/
	/*background: url('../imagenes/ba.jpeg');
	background-repeat:repeat-x;*/
	/*border: 1px solid blue;*/
	height: 170px;
	/*border-radius: 20px;*/
	margin: auto;
	background: #fff;

}

/*
#cabecera img{	
	float: left;
	position: relative;
	padding: 1px;
	margin-left: 40%;
	border:1px solid green;
	margin-top: 65px;
}
*/

.logo{
	float: left;
	position: relative;
	padding: 1px;
	margin-left: 40%;
	/*border: 1px solid blue;*/
	margin-top: 65px;
}
.ico{
	float: right;
	padding-right: 8%;
	/*border: 1px solid green;*/
}
.f{

	float: right;
	margin: auto;
	position: relative;


}
.fimg{
	height: 30px;
	width: 30px;
	/*border: 1px solid red*/
	margin: auto 10px;
}

.limpiar{
	clear: both;
}

/*MENU RESPONSIVE*/
.menu {
	margin-left: auto;
	padding-left: 10%;
    position: relative;
    width: 100%;
    /*border: 1px solid red;*/
}
.menu nav {
    display: block;
    background: #fff;
    overflow:hidden;

}
.menu nav > a {
    float: left;
    color: black;
    padding: 0.5em;
    /*border-right: 2px solid rgba(0, 0, 0, 0.35);*/
    transition: background .2s;
    display: block;
    text-decoration: none;
    font:  16px menu;
}
@font-face {
	font-family: 'menu';
	src: url('../tipografias/geo.ttf');
}
.menu nav > a:hover {
    background: rgba(0,0,0,0.4);
}

.menu .drop {
    color: #fff;
    padding: 0.8em;
    background: rgba(0,0,0,0.7);
    cursor: pointer;
    display: none; /*ocultamos el botón*/
    border-radius: 13px;
}
.menu .drop svg {
    fill: #fff;
    vertical-align: middle;
}

@media only screen and (max-width: 768px) {
	#cabecera img{	
	float: left;
	position: relative;
	padding: 5px;
	margin-left: 35%;
	}
    .menu {background: rgba(0,0,0,0.6);margin: auto; }
    .menu .drop {display: inline-block;}/*volvemos a mostrar el botón*/
    .menu nav {/*ahora nuestro menú es una lista flotante*/
        position: absolute;
        z-index: 600;
        background:rgba(0,0,0,0.7);
        min-width: 10%;
        display: none;
        top: 100%;left: 0;
        border-radius: 10px;
    }
    .menu nav > a {/*y los ítems se alinean verticalmente*/
        float: none;
        border: 0 none;
        font: 15px sans-serif;
        color: white;
    }
}
.menu input {display: none}/*ocultamos el input*/
#btn-menu:checked ~ nav{
    display: block;
}
#btn-menu:checked ~ label{
    background: rgba(0,0,0,0.65);
}
/*------------------------------------*/
.contenedor{
	background: white;
	position: relative;
	width: 95%;
	height: auto;
}

.contenedor h1{
	width: 100%;
	color: gray;
	padding-top:30px;
	font: 20px arial bold;
	margin-left:10px;
	margin-bottom:-2px;
}

.barra{
	width: 98%;
	border: 0.5px solid #BDBDBD;
	margin-top:20px; 
	margin-bottom:20px;
	position: relative;
}

.lista{
	width: 100%;
	display: flex;
	flex-wrap: wrap; 
	position: relative;
}

.contenedor .lista li{
	list-style: none;
	margin-bottom: 20px;
	width: 32%;

}

.img{
	position: relative;
}

.contenedor .lista li img{
	position: relative;
	width: 100%;
	height: 250px;
	justify-content: center;
}

.contenedor .lista p{
	position:absolute;
	font-size: 20px;
	background: rgba(0,0,0,0.5);
	text-align: center;
	top: 70%;
	color: white;
	width: 32%;
	padding: 14px 0px;
	width: 100%;

}
  
@font-face {
	font-family: 'jo';
	src: url('../tipografias/jo.ttf');
	}


#pie{
	clear: both;
	background: #2E2E2E;
	text-align: center;
	padding: 50px;
	/*border-top: 2px solid #999999;*/
	color: #E6E6E6;
	font:italic 16px verdana, sans-serif;
}

article{	
	padding: 0px;
	/*border:  1px solid red;*/
}

article footer{
	text-align: right;
}

time{
	color: #999999;
}

figcaption{
	font:italic 14px verdana, sans-serif;
}

@media screen and (max-width: 1270px ){
	
	.ban1 h3{
	color: black;
	text-align: left;
	padding: 10%;
	height: auto;
	font-size: 100px;
	}	
	@media screen and (max-width: 1100px ){
		.ban1 h3{
		color: black;
		text-align: left;
		padding: 10%;
		height: auto;
		font-size: 90px;
	}
	@media screen and (max-width: 1000px ){
		.ban1 h3{
		color: black;
		text-align: left;
		padding: 10%;
		height: auto;
		font-size: 80px;
	}
	@media screen and (max-width: 900px ){
		.ban1 h3{
		color: black;
		text-align: left;
		padding: 10%;
		height: auto;
		font-size: 70px;
	}
}
/*tablet*/
@media screen and (max-width: 768px){
	.menu {
	margin-left: auto;
	padding-left:0px;
	}
	#seccion{
		width:100%;
	}
	
	#seccion2{
		width:100%;
	}
	#seccion3{
		width:100%;
	}
	#seccion4{
		width:100%;
	}
	#columna{
		width: 100%;
	}
	
	.banner1{
		width: 100%;
		height: 250px;
	}
	.ban1{
		width: 100%;
		border: none;	
		border: 1px solid green;

	}
	.ban1 h3{
	background: rgba(0,0,0,0.3);
	color: #fff;
	font-size: 40px;
	text-align: center;
	height: 100%;
	border: 1px solid green;
	height: 250px;
	padding: 60px 50px;
	align-items: center;
	}
	.banblack{
	float: left;
	width: 100%;
	padding: 25px;
	}
	.banner2{
		width: 100%;
		height: 250px;
	}
	.banner3{
		width: 100%;
		height: 250px;
	}
	.banner4{
		width: 100%;
		height: 250px;
	}	
}

@media screen and (max-width: 400px){
	#agrupar{
		width:100%;
	}
	#columna{
		display: none;
	}
	#cabecera img{	
	float: left;
	position: relative;
	padding: 5px;
	margin-left: 8%;
	}
	.menu {
	margin-left: auto;
	padding-left:0px;
	}
	.banner1{
	width: 100%;
	float: left;
	background:url('../imagenes/ola.jpg');
	border: 1px solid blue;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	border: 1px solid blue;
	}
	.ban1{
		width: 100%;
		border: none;	
		border: 1px solid red;
	}

	.ban1 h3{
	background: rgba(0,0,0,0.3);
	color: #fff;
	font-size: 22px;
	text-align: center;
	height: 100%;
	padding-top: 15%;
	}
	#seccion{
		width: 100%;
		padding:20px 10px;
		margin: 0px;
	}
	#seccion article {
	padding: 0px 0px;
	}
	#seccion h2{
		text-align: center;
		font-size: 25px;
		padding: 10px;
	}
	#seccion article p{
		padding: 15px;
		text-align: left;
		font-size: 14px;
		text-align: justify;
		line-height: 20px;
		letter-spacing: 0px;
	}
	#seccion2{
		width: 100%;
		padding: 20px 10px;
		margin: 0px;
	}
	#seccion2 article {
	padding: 0px 0px;
	}
	#seccion2 h2{
		text-align: center;
		font-size: 25px;
		padding: 10px;
	}
	#seccion2 article p{
		padding: 15px;
		text-align: left;
		font-size: 14px;
		text-align: justify;
		line-height: 20px;
		letter-spacing: 0px;
	}
	.banner2{
	width: 100%;
	float: left;
	background:url('../imagenes/ola3.jpg');
	border: 1px solid blue;
	background-repeat:none;
	background-size: cover;
	border: 1px solid blue;
	height: 200px;
	background-position: none;
	}
	/*.banner2{
	width: 100%;
	height: 200px;
	float: left;
	background:url('../imagenes/ola3.jpg');
	background-repeat: 	repeat;
	background-size: cover;
	background-attachment: fixed;
	box-sizing: border-box;	
	border: 2px solid blue;
	background-position:0,0;
}*/
	.ban2{
		width: 100%;
		border: none;	
		border: 1px solid red;
	}
	#seccion3{
		width: 100%;
		padding: 20px 10px;
		margin: 0px;
	}
	#seccion3 article {
	padding: 0px 0px;
	}
	#seccion3 h2{
		text-align: center;
		font-size: 25px;
		padding: 10px;
	}
	#seccion3 article p{
		padding: 15px;
		font-size: 14px;
		text-align: justify;
		line-height: 20px;
		letter-spacing: 0px;
	}
	.banner3{
	width: 100%;
	float: left;
	background:url('../imagenes/0.jpg');
	border: 1px solid blue;
	background-repeat:none;
	background-size: cover;
	border: 1px solid blue;
	height: 200px;
	background-position: none;
	}
	.ban3{
		width: 100%;
		border: none;	
		border: 1px solid red;
	}
	#seccion4{
		width: 100%;
		padding: 5px;
		margin: 0px;
	}
	#seccion4 article {
	padding: 0px 0px;
	}
	#seccion4 article header h2{
		text-align: center;
		font-size: 17px;
		padding: 10px;
	}
	#seccion4 article p{
		padding: 15px;
		text-align: left;
		font-size: 14px;
	}
	.banner4{
	width: 100%;
	float: left;
	background:url('../imagenes/ola3.jpg');
	border: 1px solid blue;
	background-repeat:none;
	background-size: cover;
	border: 1px solid blue;
	height: 200px;
	background-position: none;
	}
	.ban4{
		width: 100%;
		border: none;	
		border: 1px solid red;
	}
	.banblack{
	float: left;
	width: 100%;
	padding: 18px;
	}
			
}


